<div class="portfolio">
  <div class="container">
    <main class="gallery">
      <div data-speed="0.9" class="gallery-column gallery-column--left">
        <img class="gallery__item" src="<%= images %>/work/1.jpg" alt="1 image">
        <img class="gallery__item" src="<%= images %>/work/2.jpg" alt="2 image">
        <div class="text-block gallery__item">
          <h2 class="text-block__title">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </h2>
          <p class="text-block__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sunt non laudantium et doloremque
            quibusdam reprehenderit facere quos perspiciatis tempore ducimus officia deleniti, corrupti nobis expedita
            quisquam molestiae magni! Temporibus!
          </p>
        </div>
        <img class="gallery__item" src="<%= images %>/work/6.jpg" alt="5 image">
      </div>
      <div data-speed="1.1" class="gallery-column gallery-column--right">
        <div class="text-block gallery__item">
          <h2 class="text-block__title">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </h2>
          <p class="text-block__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sunt non laudantium et doloremque
            quibusdam reprehenderit facere quos perspiciatis tempore ducimus officia deleniti, corrupti nobis expedita
            quisquam molestiae magni! Temporibus!
          </p>
        </div>
        <img class="gallery__item" src="<%= images %>/work/3.jpg" alt="3 image">
        <img class="gallery__item" src="<%= images %>/work/4.jpg" alt="4 image">
        <img class="gallery__item" src="<%= images %>/work/5.jpg" alt="5 image">
      </div>
    </main>
  </div>
</div>